/* CSS Document */
*{
	font-family: "Lucida Sans", Courier, monospace;
}

ul li{
	font-family: "Lucida Sans", Courier, monospace;
}

ol li{
	font-family: "Lucida Sans", Courier, monospace;
}

h1,h2,h3,h4,h5,h6,p,form,label,a, span{
	font-family: "Lucida Sans", Courier, monospace;
}

/* Buttons */
button{
	background: #232323;
	color: #8FC9C7;
	border: none;
	width: 80px;
	height: 25px;
}
button:hover{
	color:white;
}

#glassbutton {
	display: inline;
	position: relative;
	top: -25px;
	left: 470px;
	border-left: 1px grey solid;
	padding: 6.5px 8px;
}

.centerbutton{
	text-align: center;
}

/* Links */
a:visited{
color: #232323;
}

a:link{
text-decoration:none;
color: #232323;
}

a:hover{
color: #8FC9C7;
}

a.currentpage{
	color: #8FC9C7;}


/* Header */
header{
	height:100px;
}

#logo{
	display: block;
	position: absolute;
	left: 5px;
	width: 233px;
	height: 166px;
}
#slogan{
	position: absolute;
	left: 55px;
	top: 100px;
	text-align:center;
	font-size: 20px;
}
#login{
	position: absolute;
	right: 20px;
	top: 20px;
}

/* Search bar */
#searchbg{
	width: 100%;
	background: #232323;
}

#searchbar{
	width: 500px;
	margin: 0px auto;
	padding: 30px 0 15px 0;
}

#search{
	width: 500px;
	height: 25px;
}

/* Navigation */
nav{
	height:40px;
	position:relative;
	top:10px;
}
#nav_right{
	position:relative;
	top:10px;
	right:30px;
	float: right;
}
#nav_right li{
	display:inline;
	padding:10px 0px;
	margin: 0px 5px;
	font-size:18px;
	border: solid 2px black;
	background:white;
}
#nav_bottom{
	position:relative;
	top:40px;
	left:50px;
}
#nav_bottom li{
	display:inline;
	padding:10px 10px;
	margin: 0px 5px;
	font-size:18px;
}
#sociallink{
	position:relative;
	top:20px;
	float:right;
	right:50px;
}
#sociallink li{
	display:inline;
	padding:10px 10px;
	margin: 0px 5px;
}


/* Nav Links */
#nav_right li a:link{
	text-decoration:none; 
	color: #8FC9C7;
	padding:10px 30px;
}
#nav_right li a:hover{
	padding:10px 30px;
	background: #232323;
}
#nav_right li a:visited{
	color: #8FC9C7;
	padding:10px 30px;
}
#nav_right li a.current{
	padding:10px 30px;
	background: #232323;
}
#nav_bottom li a:link{
	color: #8FC9C7;
}
#nav_bottom li a:visited{
	color: #8FC9C7;
}
#nav_bottom li a:hover{
	color: white;
}
#nav_bottom li a.current{
	color: white;
}


/* Body */

body{
	background:#FFFFFF;
	margin:0;
	padding:0;
	height:100%;
	overflow-x: hidden;
}

#wrapper{
	position: absolute;
	width: 100%;
	top: 20%;
	margin-top:80px;
	padding-bottom: 100px; 
}

#wrapper2{
	position: absolute;
	width: 100%;
	top: 15%;
	margin-top:80px;
	padding-bottom: 100px; 
}

#content{
	width:100%;
	margin:30px auto 30px auto;
	text-align:left;
	border-top: solid 2px black;
	padding-bottom:100px;
}

.flexslider{
	width: 1300px;
	height: 500px;
	margin: 0 auto;
}

.image {
	height: 500px;
	text-align: center;
}

#slider{
	background: #232323;
}

#contentpic{
	text-align: center;
}

.spaghetti {
	width: 400px;
	height: 400px;
}
.spaghetti:hover{
	width: 420px;
	height: 420px;
}

.features{
	display:inline;
	width: 330px;
	height: 435px;
	padding-bottom: 60px;
}

.features:hover{
	-webkit-transform: scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
}

.featuresleft{
	float: left;
	width: 320px;
	height: 568px;
	padding: 20px;
}

.featuresright{
	float: right;
	width: 320px;
	height: 568px;
	padding: 20px;
}

.featuredetail{
	clear:both;
	margin: 100px auto;
	padding: 150px 0 200px 0;
	width: 60%;
}

.featuretextleft{
	position: relative;
	left: 10%;
	text-align: center;
	padding: 100px;
	margin: 0 auto;
	width: 40%;
}

.featuretextright{
	position: relative;
	right: 10%;
	text-align: center;
	padding: 100px;
	margin: 0 auto;
	width: 40%;
}

.text{
	margin: 0 auto;
	width: 40%;
}

#contenttext{
	text-align: center;
	margin: 20px 0px;
	padding: 50px 10px;
}

#contenttitle{
	font-size: 30px;
	padding: 0px 0px;
}

#bigcontent{
	text-align: center;
	margin: 10px auto;
	padding: 30px 10px;
	width:500px;
}

#bigcontenttext{
	text-align:left;
	margin: 10px 0px;
	padding: 30px 10px;
}

#form {
	width: 550px;
	margin: 0px auto;
	padding: 50px 0px;
}

#helpdesk-form{
	width: 650px;
}

#helpdesk-form li{
	padding: 5px 0px;
}

#helpdesk-form button{
	width: 150px;
}

#ratings{
	font-size: 26px;
	color: orange;
	padding-bottom: 15px;
}

#hodor{
	width: 80%;
	height: 80%;
}

.question {
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	color:#8FC9C7;
}

.answer{
	text-align: left;
	font-size: 14px;
}


/* Footer */
footer{
	position:fixed;
	bottom: 0px;
	height: 100px;
	background-color: #232323;
	width:100%;
	left:0;
}

.socialicons{
	width: 20px;
	height: 20px;
}

.socialicons a{
	color: #8FC9C7;
	padding: 5px;
}

.socialicons a:hover{
	color: white;
}